<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>59家居网</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jobs/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jobs/css/endpic.css">
<script type="text/javascript" src="__PUBLIC__/jobs/script/offline.js"></script>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
</head>
<body>
<div style="width:100%;max-width:100%;">
<img style="width:100%;" src="__PUBLIC__/jobs/img/sm51.png">
</div>

</body>

</html>