*{
    	margin: 0;
    	padding: 0;
    	font-size: 14px;
    	color: #000;
    	color: #3f3f3f;
    	font-family:"微软雅黑";
    }
    body,html{
    	width: 100%;
    	height: 100%;
    }
    li{
    	list-style: none;
    }
    a{
    	text-decoration: none;
    }
    ul{overflow: hidden;padding: 0;margin: 0;}

    /*主盒子样式*/
    .container{width: 100%;margin: 0;padding: 0;min-width:1170px;}
    /*公共样式*/
    .public{width: 1170px;margin: 0px auto;overflow: hidden;min-width:1170px;}
    /*头部开始*/
    .header {background-color: #ff6537;padding: 20px 0;position:relative;}
		.city{position:absolute;top:40%;left:50px;z-index:10;}
			#tcity{font-size:18px;}
			.city .ctcity{text-decoration:none;cursor:pointer;color:#fff;}
			.chpalce{background-color:#fff;width:500px;border: 1px solid #9e9e9e;display:none;}
			.city_list{padding: 6px 0;overflow: hidden;zoom: 1;font-size: 12px;line-height: 20px;}
			.city_list .pro{width: 15%;float: left;text-align: center;color: #999;}
			.city_list .area{width: 85%;float: left;}
				.area a{color: #333;display: inline-block;margin: 0 5px 0 0;}
				.area a:hover{color: red;}
		.main{width: 100%;padding: 0 14.8%;overflow: hidden;min-width:1170px;}
		/*@media screen and (max-width: 1470px){
	   			.main{
	            width: 1100px;
				}
	            
	        }*/
		
    	.main .logo{
    		width: 50%;
    		float: left;
    		text-align: left;
    	}
    		.logo a img{
    			width: 160px;
    			height: 46px;
    		}
    	.main .company{
    		width: 50%;
    		float: left;
    		text-align: right;
    	}
    		.company img{
    			width: 300px;
    			height: 46px;
    		}
    .info{padding: 25px 0;}
    	.info .nav,.tel{
    		width: 50%;
    		float: left;
    	}
    	.nav ul li{float: left;}
			.nav ul li a{display:inline-block;padding: 5px 20px;font-size: 16px;cursor: pointer;color:#000;text-decoration:none;}
			.active{border-radius: 15px;background-color: #ff6537;color: #fff !important;}
    	.tel ul li{text-align: right;}
    	.tel ul li img{width: 20px;height: 20px;position: relative;top: -3px;}
    	.tel ul li span{display: inline-block;font-size: 18px;color: #666666;width: 120px;text-align: left;margin-left: 10px;line-height: 20px;}

    /*banner图*/
	.banner{width: 100%;height: 100%;}
	/*合作客户*/
	.content{}
		.content-center{text-align: center;margin: 50px 0}
			.content-center h3{text-align: center;font-size: 30px;color: #000;letter-spacing: 2px;}
			.content-center span{font-size: 16px;color:#8c8585;word-spacing: 2px;}
		.pic{width: 100%;overflow: hidden;}
			.pic .hezuo{width: 49%;float: left;height:325px;}
				.hezuo img{width: 98%;height: 100%;}
				.hezuo video{width: 98%;}

	/*合作图片轮播*/
	.lunbo{width: 100%;height: 500px;background-image: url('bg/bg3.jpg');background-size: 100% 100%;background-repeat: no-repeat;margin-top: 50px;position: relative;min-width: 1170px;}
		.lunbo_main{position: relative;top: 20%;overflow: hidden;height: 300px;}
            .lunbo a{position: absolute;top: 50%;text-decoration: none;font-size: 60px;width: 60px;height: 50px;background-color: #fff;opacity: 0.3;text-align: center;line-height: 50px;}
            .lunbo .next{right: 5%;}
            .lunbo .prev{left: 5%; }
        .lunbo_item{position: absolute;height: 300px;width: 3510px;}
		.lunbo_item .lunbo_img{float: left;width: 292.5px;height: 300px;text-align: center;}
			.lunbo_img img{width: 65%;height: 200px;}
			.lunbo_img .lunbo_info{display: inline-block;width: 65%;height: 100px;border: 1px solid #fff;border-top: none;}
			.lunbo_info h3{color: #fff;font-size: 18px;}
			.lunbo_info span{color: #fff;font-size: 12px;}

	/*点赞*/
	.dianzan{}
		.dianzan-center{text-align: center;margin: 50px 0}
			.dianzan-center h3{text-align: center;font-size: 30px;color: #000;letter-spacing: 2px;}
			.dianzan-center span{font-size: 16px;color:#8c8585;word-spacing: 2px;}

	/*点赞图片*/
	.dzpic{width: 100%;height: 900px;background: url('bg/bg4.jpg') no-repeat;}
		.xkpic{height: 90%;background-color: #fff;margin: 0 auto;position: relative;top: 5%;padding: 15px;}
            .pic_top{width: 100%;height: 23%;}
                .top_item{width: 32%;height: 100%;float: left;text-align: center;}
                .top_item:nth-child(2){margin: 0 2%;}
                .pic_top img{width: 100%;height: 100%;}
            /*中间部分*/
            .pic_main{height: 76%;float: left;margin-top: 1%;}
            .pic_main:nth-child(2){width: 20%;}
                .main_left_one{width: 100%;height: 30%;}
                .main_left_two{width: 100%;height: 65%;margin-top: 5%;}
                    .main_left_one img,.main_left_two img{width: 100%;height: 100%;}
            .pic_main:nth-child(3){width: 36%;margin: 0 2%;margin-top: 1%;}
                .main_middle_one{width: 100%;height: 68%;}
                .main_middle_two{width: 100%;height: 27%;margin-top: 3%;}
                .main_middle_one img,.main_middle_two img{width: 100%;height: 100%;}
            .pic_main:nth-child(4){width: 40%;}
                .main_right_one{width: 100%;height: 40%;}
                    .main_right_one img{width: 100%;height: 100%;}
                .main_right_two{width: 100%;height: 58%;margin-top: 2%;overflow: hidden;}
                    .main_right_two_left{width: 48%;height: 100%;float: left;}
                        .main_right_two_left img{width: 100%;height: 46%;}
                        .main_right_two_left img:nth-child(1){margin-bottom: 5%;}
                    .main_right_two_right{width: 48%;height: 100%;float: left;margin-left: 4%;}
                        .main_right_two_right img{width: 100%;height: 95%;}
    /*底部*/
    .footer{width: 100%;margin: 50px 0;}
        .footer img{width: 100%;height: 100%;}
        .footer p{text-align: center;color: #999999;margin: 30px;}