*{
    	margin: 0;
    	padding: 0;
    	font-size: 14px;
    	color: #000;
    	color: #3f3f3f;
    	font-family:"微软雅黑";
    }
    body,html{
    	width: 100%;
    	height: 100%;
    }
    li{
    	list-style: none;
    }
    a{
    	text-decoration: none;
    }
    ul{overflow: hidden;padding: 0;margin: 0;}

    /*主盒子样式*/
    .container{width: 100%;margin: 0;padding: 0;min-width:1170px;}
    /*公共样式*/
    .public{width: 1170px;margin: 0px auto;overflow: hidden;min-width:1170px;}
    /*头部开始*/
    .header {background-color: #ff6537;padding: 20px 0;position:relative;}
		.city{position:absolute;top:40%;left:50px;z-index:10;}
			#tcity{font-size:18px;}
			.city .ctcity{text-decoration:none;cursor:pointer;color:#fff;}
			.chpalce{background-color:#fff;width:500px;border: 1px solid #9e9e9e;display:none;}
			.city_list{padding: 6px 0;overflow: hidden;zoom: 1;font-size: 12px;line-height: 20px;}
			.city_list .pro{width: 15%;float: left;text-align: center;color: #999;}
			.city_list .area{width: 85%;float: left;}
				.area a{color: #333;display: inline-block;margin: 0 5px 0 0;}
				.area a:hover{color: red;}
		.main{width: 100%;padding: 0 14.8%;overflow: hidden;min-width:1170px;}
		/*@media screen and (max-width: 1470px){
	   			.main{
	            width: 1100px;
				}
	            
	        }*/
		
    	.main .logo{
    		width: 50%;
    		float: left;
    		text-align: left;
    	}
    		.logo a img{
    			width: 160px;
    			height: 46px;
    		}
    	.main .company{
    		width: 50%;
    		float: left;
    		text-align: right;
    	}
    		.company img{
    			width: 300px;
    			height: 46px;
    		}
    .info{padding: 25px 0;}
    	.info .nav,.tel{
    		width: 50%;
    		float: left;
    	}
    	.nav ul li{float: left;}
			.nav ul li a{display:inline-block;padding: 5px 20px;font-size: 16px;cursor: pointer;color:#000;text-decoration:none;}
			.active{border-radius: 15px;background-color: #ff6537;color: #fff !important;}
    	.tel ul li{text-align: right;}
    	.tel ul li img{width: 20px;height: 20px;position: relative;top: -3px;}
    	.tel ul li span{display: inline-block;font-size: 18px;color: #666666;width: 120px;text-align: left;margin-left: 10px;line-height: 20px;}

    /*banner图*/
	.banner{width: 100%;height: 100%;}
	/*合作客户*/
	.content{}
		.content-center{text-align: center;margin: 50px 0}
			.content-center h3{text-align: center;font-size: 30px;color: #000;letter-spacing: 2px;}
			.content-center span{font-size: 16px;color:#8c8585;word-spacing: 2px;}
		.pic{width: 100%;overflow: hidden;}
			.pic .yeji,.kehu,.sao{width: 33%;float: left;height: 400px;}
				.yeji{background: url("hezuo/hezuo_bg3.jpg") no-repeat;background-size: 100% 100%;position: relative;}
                    .item_bottom{width: 100%;height: 60px;background-color: #000;opacity: 0.5;position: absolute;bottom: 0;padding-left: 10px;}
                        .item_bottom p{color: #fff;margin: 10px 0;}
                        .item_bottom span{display: inline-block;width: 50px;border: 1px solid #fff;position: absolute;bottom: 25px;}
                .kehu{margin: 0 0.5%;}
                    .kehu .kehu_item{width: 100%;height: 49%;background: url("hezuo/hezuo_bg.jpg") no-repeat;background-size: 100% 100%;position: relative;}
                    .kehu .kehu_items{width: 100%;height: 49%;background: url("hezuo/hezuo_bg2.jpg") no-repeat;background-size: 100% 100%;margin-top: 2%;position: relative;}
                .sao{background: url("hezuo/hezuo_bg4.jpg") no-repeat;background-size: 100% 100%;position: relative;}
                    .jingyi{width: 100%;height: 110px;position: absolute;bottom: 15px;}
                        .jingyi_p{width: 245px;height: 100%;float: left;display: table;padding-left: 50px;}
                        .jingyi_p p{display: table-cell; vertical-align:middle; text-align:left;}
                        .jingyi img{width: 110px;height: 110px;float: right;margin-right: 30px;}
                    .detail{position: absolute;top: 52%;left: 65px;padding: 2px 15px;background-color: #000;opacity: 0.5;border-radius: 5px;}
                        .detail a{color: #fff;text-decoration: none;}
                        .detail a:hover{color: #337ab7;}

	/*合作图片轮播*/
	.lunbo{width: 100%;height: 320px;background-image: url('bg/bg3.jpg');background-size: 100% 100%;background-repeat: no-repeat;margin-top: 50px;position: relative;min-width: 1170px;}
		.lunbo_main{position: relative;top: 10%;overflow: hidden;height: 210px;}
            .lunbo a{position: absolute;top: 50%;text-decoration: none;font-size: 60px;width: 60px;height: 50px;background-color: #fff;opacity: 0.3;text-align: center;line-height: 50px;margin-top: -25px;}
            .lunbo .next{right: 4%;}
            .lunbo .prev{left: 4%; }
        .lunbo_item{position: absolute;height: 210px;width: 3510px;}
		.lunbo_item .lunbo_img{float: left;width: 119px;height: 210px;text-align: center;}
			.lunbo_img img{width: 90px;height: 90px;}
            .lunbo_img .second{margin-top: 29px;}
			.lunbo_img .lunbo_info{display: inline-block;width: 65%;height: 100px;border: 1px solid #fff;border-top: none;}
			.lunbo_info h3{color: #fff;font-size: 18px;}
			.lunbo_info span{color: #fff;font-size: 12px;}
			
	/*点赞视频*/
	.video{margin-top:50px;border:1px solid #f5efef;box-shadow: 5px 5px 5px #f5f5f5,5px -5px 5px #f5f5f5}
		.video_item{width:100%;padding:1% 2%;text-align:center;}
			.video_item video{width:98%;height:400px;}
			.video_item p{font-size:16px;color:#000;text-align:center;padding:10px 0px 10px 20px;}
			.video_item p span{font-size:12px;color:#9e9e9e;display:inline-block;margin-left:20px;}
			.video_item .more{width:150px;margin:30px auto;height:35px;}
				.video_item .more button{display:inline-block;font-size:14px;line-height:35px;border:1px solid #000;width:100%;}
				
	
	/*点赞*/
	.dianzan{}
		.dianzan-center{text-align: center;margin: 50px 0}
			.dianzan-center h3{text-align: center;font-size: 30px;color: #000;letter-spacing: 2px;}
			.dianzan-center span{font-size: 16px;color:#8c8585;word-spacing: 2px;}

	/*点赞图片*/
	.dzpic {width: 100%;background: url('bg/bg4.jpg') no-repeat;height: 900px;}
		.xkpic {
            width: 90%;
            height:90%;
            position: relative;
            top: 5%;
            padding: 15px;
            left: 50%;
            margin-left: -45%;
            animation:imageChange 25s infinite;
            background: url('/themes/mall/jiaju/images/index/zan/dianzan_1.jpg') no-repeat;
            background-size: 100% 100%;
        }

        @keyframes imageChange {
            0% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_1.jpg') no-repeat;
                background-size: 100% 100%;
            }

            20% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_2.jpg') no-repeat;
                background-size: 100% 100%;
            }

            40% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_3.jpg') no-repeat;
                background-size: 100% 100%;
            }

            60% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_4.jpg') no-repeat;
                background-size: 100% 100%;
            }

            80% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_5.jpg') no-repeat;
                background-size: 100% 100%;
            }

            100% {
                background: url('/themes/mall/jiaju/images/index/zan/dianzan_1.jpg') no-repeat;
                background-size: 100% 100%;
            }
        }
            /* .pic_top{width: 100%;height: 23%;}
                .top_item{width: 32%;height: 100%;float: left;text-align: center;}
                .top_item:nth-child(2){margin: 0 2%;}
                .pic_top img{width: 100%;height: 100%;}
            中间部分
            .pic_main{height: 76%;float: left;margin-top: 1%;}
            .pic_main:nth-child(2){width: 20%;}
                .main_left_one{width: 100%;height: 30%;}
                .main_left_two{width: 100%;height: 65%;margin-top: 5%;}
                    .main_left_one img,.main_left_two img{width: 100%;height: 100%;}
            .pic_main:nth-child(3){width: 36%;margin: 0 2%;margin-top: 1%;}
                .main_middle_one{width: 100%;height: 68%;}
                .main_middle_two{width: 100%;height: 27%;margin-top: 3%;}
                .main_middle_one img,.main_middle_two img{width: 100%;height: 100%;}
            .pic_main:nth-child(4){width: 40%;}
                .main_right_one{width: 100%;height: 40%;}
                    .main_right_one img{width: 100%;height: 100%;}
                .main_right_two{width: 100%;height: 58%;margin-top: 2%;overflow: hidden;}
                    .main_right_two_left{width: 48%;height: 100%;float: left;}
                        .main_right_two_left img{width: 100%;height: 46%;}
                        .main_right_two_left img:nth-child(1){margin-bottom: 5%;}
                    .main_right_two_right{width: 48%;height: 100%;float: left;margin-left: 4%;}
                        .main_right_two_right img{width: 100%;height: 95%;} */
    /*底部*/
    .footer{width: 100%;margin: 50px 0;}
        .footer img{width: 100%;height: 100%;}
        .footer p{text-align: center;color: #999999;margin: 30px;}
		
		
		
	/*视频详情*/
	.video_content{padding:0 1%;min-height:800px;}
		.video_main{background-color:#f7f7f7;border:1px solid #bbbbbb;padding:20px 20px;}
		.video_list{width:98%;overflow:hidden;}
			.video_items{width:33.3%;padding:0 1%;float:left;background-color:#fff;}
				.video_items video{width:98%;}
				.video_items p{text-align:center;}
				
	/*分页*/
	.video_page{margin-top:30px;}
		.video_page ul{text-align:center;}
			.video_page ul li{color:#e17764;display:inline-block;cursor:pointer;}
			.video_page ul .page_item{width:30px;height:30px;border:1px solid #ff6136;line-height:30px;border-radius:5px;}
			.video_page ul .page_item:hover,.next:hover{background-color:#e17764;color:#fff;}
			.video_page ul .next{width:80px;height:30px;border:1px solid #ff6136;line-height:30px;border-radius:5px;}
			.video_page ul .link{width:50px;height:30px;border:1px solid #ff6136;line-height:30px;border-radius:5px;}
				.video_page ul .link input{width:100%;height:90%;border:none;outline:none;padding-left:15px;}
				
	/*合作客户的详情页面*/
	.content{}
		.content_item{height:800px;width:100%;}
		.content_item img{width:100%;height:100%;}
		.content_logo{width:100%;overflow:hidden;text-align:center;}
			.content_logo .content_logo_item{width:20%;float:left;margin:10px 0;}
			.content_logo .content_logo_item p{font-size:16px;padding:10px 0;font-weight:600;}
	
	
	
	